<!DOCTYPE html>
<html lang="en">


{{template "head"}}

<body>
    {{template "navbar"}}
    <div class="stations-container">
        <h1>Stations Page</h1>
        <ul class="stations-list">
            {{range .}}
            <li class="station-card">
                <div class="station-image" style="background-image: url({{.Favicon}});"></div>
                <h3 class="station-name">{{.Name}}</h3>

                <div class="audio-container">
                    <div class="button-container">
                        <button hx-get="/{{.Country}}/{{.ID}}" hx-target="#audio-{{.ID}}"
                            class="station-button">Listen!</button>
                    </div>
                    <div id="audio-{{.ID}}" class="audio-controls"></div>

                </div>
                {{range .Tags}}
                
                    <span class="station-tags"><a href="/tags/{{.Name}}">#{{.Name}}</a>,</span>
                {{end}}
            </li>
            {{end}}
        </ul>
    </div>

    {{template "footer"}}
</body>

</html>