<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <title>Go Radio</title>
</head>

<body>
    <h1>Dio</h1>
</body>

</html>




<!-- {{range .Station}}
        <div>
            <h3>{{.Name}}</h3>
            <img>{{.Favicon}}</img>
            <audio src=`{{.URL}}`></audio>
            <p>{{.Country}}</p>
        </div>
        {{end}} -->